	 <div class="region">
						<h3 class="text_region">Publicité</h3>
							<br>											
							<div style="text-align:center;">								
								<img src="{{ asset('assets/image/pub.png') }}" alt="terrain" width="70" height="70"/>
							</div>
							<br><br>
							<div style="text-align:centre;">								
								<img src="{{ asset('assets/image/pub.png') }}" alt="terrain" width="70" height="70"/>
							</div>
							<br>					
						</div>