<script type="text/javascript">
	 function clickMatche(){
		    document.getElementById('Amatche').style.display='block' ;
		    document.getElementById('Aabonnement').style.display='none' ;		    
		                }
	function clickAbonne(){
	        document.getElementById('Amatche').style.display='none' ;
		    document.getElementById('Aabonnement').style.display='block' ;		    
		                }
</script>		                
{#<div class="region">
		<h3 class="text_region">Mes réservations</h3>						
			<ul>				
				<li><a href="javascript:clickMatche();"><b class="icon-uniE600"> </b>Mes matches</a></li>								
				<li><a href="javascript:clickAbonne();"><b class="icon-feed2"> </b>Mes abonnements </a></li>				
			</ul>		
</div>#}		 