<script type="text/javascript">
	 function clickMatche(){
		    document.getElementById('Rmatche').style.display='block' ;
		    document.getElementById('Rabonnement').style.display='none' ;
		    document.getElementById('Racademie').style.display='none' ;		    
		                }
	function clickAbonne(){
	        document.getElementById('Rmatche').style.display='none' ;
		    document.getElementById('Rabonnement').style.display='block' ;
		    document.getElementById('Racademie').style.display='none' ;			    
		                }
	function clickHAcademie(){
			document.getElementById('Rmatche').style.display='none' ;
		    document.getElementById('Rabonnement').style.display='none' ;
		    document.getElementById('Racademie').style.display='block' ;	
	        } 	                	                
</script>

<div class="region">
		<h3 class="text_region">Réservation</h3>						
			<ul>
				<li><a href="javascript:clickMatche();"><b class="icon-uniE600"> </b>Match</a></li>
				<li><a href="javascript:clickAbonne();"><b class="icon-feed2"> </b>Abonnement</a></li>								
				<li><a href="javascript:clickHAcademie();"><b class="icon-users"> </b>Académie </a></li>		
			</ul>
			
							
</div>		 