

<div class="region">	
		
		<h3 class="text_region">Tarifs centre</h3>						
			<ul>
				<li><a href="javascript:clickAffiche();"><b class="icon-tags"> </b> Liste des tarifs </a></li>				
				<li><a href="javascript:clicktarif();"><b class="icon-plus"> </b>Ajouter tarifs</a></li>
				<!--<li><a href="javascript:clickHAcademie();"><b class="icon-users"> </b>tarifs académie </a>	</li>-->
			</ul>			
						
</div>		 