
                <div id="form_search" class="search_booking region ">        	
		        	<h3><a style="color:#FFF;" href="#">Votre recherche</a></h3><br><br>		        	
		        	<div  class="form_match">
		       			<form  name="f" action="{{ path('arenafootball_plateform_terrain_abonnement') }}" method="POST">
		       					<table style="border:none;">
		       					<tr>
		       					<td style="background:#333; border-radius:5px; width:15%; text-align:center; color:#FFF;"><b style="font-size: 20px;" class="icon-calendar"> </b></td>
		       					<td><input type="date" name="date" required/></td>
		       					</tr>	       				
								<!--<tr>
									<td style="background:#333; border-radius:5px; text-align:center; color:#FFF;"><b style="font-size: 20px;" class="icon-stopwatch"> </b></td>
									<td><input type="time" name="time" required/></td>
								</tr>-->
								<tr>
									<td>&nbsp;</td><td>&nbsp;</td>
								</tr>								
								
								<tr>					
								<td colspan="2">
									<aside style="text-align:center;">
										<button type="submit"><span class="icon-search"> </span> Recherche</button>
									</aside>
								</td>
								</tr>								
							</table>	
						</form><br>
		       		</div> 
		        </div>	